/* STYLE DO TOPO DA PAGINA*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
}


.cabecalho{
    text-align: center;
}

.cabecalho h1{
    background-color: black;
    color: white;
    text-align: center;
}


.cabecalho a{
    text-decoration: none;
    color: white;
}

#titulo{
    text-transform: uppercase;
    font: bolder;
}


.topo{
    display: flex;
    padding: 120px;
    font-size: 14px;
    width: 50%;
}

.pagina{
    font-weight: bold;
    font-size: 16px;
}
.pagina a{
    text-decoration: none;
    color: black;
}

span{
    margin: 5px;
}
#home{
    color: #666666;
}

.container{
    width: 100%;
    height: 600px;
    display: flex;
    padding: 120px;
    padding-top: 50px;
}

/*AREA DO FORMULARIO*/

.formulario{
    width: 50%;
    text-align: left;
    height: 814px;
}

.formulario h1{
    font-size: 40px;
}

.formulario input {
    width: 75%;
    height: 45px;
    margin-top: 5px;
    background-color: #F5F5F5;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 16px;
}

.formulario label{
    color: #7D8184;
}
.formulario span{
    padding: 0px;
    margin: 0px;
    color: rgb(255, 124, 124);
}

.container .check  {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    padding-top:25px;
    margin-left: 80px;
    cursor: pointer;
    }
.container #span{
    color: black;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

/*AREA DO PAGAMENTO*/
.methodPay{
    float: left;
    padding: 120px;
    width: 50%;
    height: 600px;
}


.linhaConteudo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    text-align: left;
}



#nomeP{
    width: 100%;
    text-align: center;
}

.methodPay h2{
    width: 25%;
    font-size: 14px;
    text-align: center;
}

.imagem, .preco{
    width: 25%;
    align-items: center;
    display: flex;
    justify-content: center;
}


.image {
    display: flex;
    align-items: center;
}
.image h2{
    margin-left: 15px;
}

.image img {
    width: 80px;
    height: 80px;
}


.pay h3{
    font-size: 14px;
}

.bag{
    float: right;
}
.bag img{
    width: 180px;
}

.pay input {
    border-radius: 10000px;
}


.ultimo{
    width: 100%;
    display: flex;
}

.cupom{
    width:100% ;
    height: 100%;
}

.cupom input{
    font-size: 16px;
    border: 1px black solid;
    width: 325px;
    height: 45px;
    outline: none;
    border-radius: 0px;

}

.cupom button{
    color: white;
    width: 215px;
    height: 55px;
    background-color: rgb(228, 63, 63);
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
}

.cupom input, button{
    text-align: center;
}

.cupom #space{
    margin-top: 5px;
}

.form-group {
    display: flex;
    margin-bottom: 15px;
    width: 50%;
}

.form-group label {
    padding-left: 10px;
    cursor: pointer;
}


.radio{
    cursor: pointer;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
}


.radio:before{
    content: '';
    width: 10px;
    height: 10px;
    background: rgb(0, 0, 0);
   border-radius: 50%; 
    opacity: 0;
}

.radio:checked:before {
    opacity: 1;
}

/*STYLE DO RODA PÉ DA PAGINA*/

.rodape{
    color: white;
    background-color: black;
    width: 100%;
    height: 600px;
    display: flex;
}

.profileRodaPe{
    margin-top: 100px;
    width: 25%;
    height: 60%;
    font-size: 12px;
    margin-left: 30px;
}
.profileRodaPe input{
    background-color: black;
    color: white;
    border: 1px white solid;
    height: 30px;
}
.profileRodaPe a{
    text-decoration: none;
    color: white;
}

.rodape img{
    width: 80%;
}

#cabo{
    background-color: black;
    color: #313131;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
}