/* STYLE DO TOPO DA PAGINA*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
}


.cabecalho{
    text-align: center;
}

.cabecalho h1{
    background-color: black;
    color: white;
    font-size: 22px;
    text-align: center;
}


.cabecalho a{
    text-decoration: none;
    color: white;
}

#titulo{
    text-transform: uppercase;
    font: bolder;
}



/* AREA DA CRIAÇÂO DE CONTA*/ 
.container{
    display: flex;
    padding-top: 60px;
    padding-right: 80px;
    width: 100%;
}
.container img{
    height: 781px;
    width: 824;
}

.contaImg{
    width: 60%;
}


.conta{
    width: 20%;
    margin-top: 150px;
    padding-right: 20px;
}
.conta h1{
    font-size: 36px;
}
.conta h3{
    font-size: 16px;
}

.conta button{
    width: 100%;
    border: none;
    font-size: 17px;
    height: 40px;
}
#criar{
    background-color: rgb(228, 63, 63);
    color:white;
    border: none;
    border-radius: 2px;
}

#login{
    border-bottom: 1px black solid;
}

#conta{
    text-align: center;
}
#criar:hover{
    cursor: pointer;
    color:white;
}
#criar a{
    text-decoration: none;
    color:white;
}

.conta a{
    text-decoration: none;
    color: #000;
}
.conta input {
    border: none;
    outline: none;
    border-bottom: black 1px solid;
    width: 100%;
    font-size: 17px;
}




/*STYLE DO RODA PÉ DA PAGINA*/

.rodape{
    color: white;
    background-color: black;
    width: 100%;
    height: 600px;
    display: flex;
}

.profileRodaPe{
    margin-top: 100px;
    width: 25%;
    height: 60%;
    font-size: 12px;
    margin-left: 30px;
}
.profileRodaPe input{
    background-color: black;
    color: white;
    border: 1px white solid;
    height: 30px;
}
.profileRodaPe a{
    text-decoration: none;
    color: white;
}

.rodape img{
    width: 80%;
}

#cabo{
    background-color: black;
    color: #313131;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
}
