/* STYLE DO TOPO DA PAGINA*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
}


.cabecalho{
    text-align: center;
}

.cabecalho h1{
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
}


.cabecalho a{
    text-decoration: none;
    color: white;
}

#titulo{
    text-transform: uppercase;
    font: bolder;
}



.topo{
    display: flex;
    padding: 150px;
    padding-bottom: 0px;
    padding-top: 50px;
    font-size: 20px;
}

.nomeLista{
    font-weight: bold;
    font-size: 20px;
    width: 50%;
    cursor: pointer;
}

.nomeLista img{
    height: 40px;
}

.bag button{
    width: 220px;
    text-decoration: none;
    color: black;
    padding: 20px;
    font-weight: bolder;
    color: black;
    background-color: white;
    border: 1px #acacac solid ;
    font-size: 13px;
}
.bag button:hover{
    cursor: pointer;
}
.bag{
    width: 50%;
    text-align: right;
}

.bag2 button{
    width: 220px;
    text-decoration: none;
    color: black;
    padding: 20px;
    font-weight: bolder;
    color: black;
    background-color: white;
    border: 1px #acacac solid ;
    font-size: 13px;
}
.bag2 button:hover{
    cursor: pointer;
    color: rgb(228, 63, 63);
}
.bag2{
    width: 50%;
    text-align: right;
}


/*LISTA DE FAVORITOS*/

.container{
    padding: 150px;
    padding-bottom: 0px;
    padding-top: 100px;
    width: 100%;
    height: 550px;
    text-align: left;
}



.card{
    float: left;
    width: 25%;
    height: 450px;
    font-weight: 700;
}

.card h3{
    font-size: 16px;
}

.card p{
    text-align: left;
    color: black;
    font-size: 16px;
}

.card img{
    height: 250px;
    width: 270px;
}

#pn{
    font-size: 16px;
    color: rgb(228, 63, 63);
}
#pd{
    font-size: 16px;
    color: #acacac;
}





/*STYLE DO RODA PÉ DA PAGINA*/

.rodape{
    color: white;
    background-color: black;
    width: 100%;
    height: 600px;
    display: flex;
}

.profileRodaPe{
    margin-top: 100px;
    width: 25%;
    height: 60%;
    font-size: 12px;
    margin-left: 30px;
}
.profileRodaPe input{
    background-color: black;
    color: white;
    border: 1px white solid;
    height: 30px;
}
.profileRodaPe a{
    text-decoration: none;
    color: white;
}

.rodape img{
    width: 80%;
}

#cabo{
    background-color: black;
    color: #313131;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
}