/* STYLE DO TOPO DA PAGINA*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
}


.cabecalho{
    text-align: center;
}

.cabecalho h1{
    background-color: black;
    color: white;
    font-size: 22px;
    text-align: center;
}


.cabecalho a{
    text-decoration: none;
    color: white;
}

#titulo{
    text-transform: uppercase;
    font: bolder;
}

/*AREA DO LOGIN*/
.container{
    display: flex;
    padding-top: 60px;
    margin-right: 80px;
    width: 100%;
}

.container img{
    height: 781px;
    width: 824px;
}
.loginImg{
    width: 60%;
}

.login{
    width: 20%;
    margin-top: 150px;
    padding-right: 20px;
}

.login h1{
    font-size: 36px;
}
.login h3{
    font-size: 16px;
}


.login button{
    width: 30%;
    border: none;
    height: 40px;
    border-radius: 2px;
    font-size: 17px;
}

#butao{
    background-color: rgb(228, 63, 63);
    color:white;
    border: none;
    border-radius: 5px;
}
#butao:hover{
    cursor: pointer;
    color:white;
}
#butao a{
    text-decoration: none;
    color:white;
}

.login a{
    text-decoration: none;
    color: #000;
}
.login input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 17px;
}
#space{
    border-bottom: black 1px solid;
    margin-top: 5px;
}

.final{
    display: flex;
    text-align: right;
    justify-content: space-between;
    align-items: center;
}
.final h5{
    color:rgb(228, 63, 63);
    text-align: right;
}

.spanF {
    color:rgb(228, 63, 63);
    font-size: 17px;
}

.spanF a{
    color:rgb(228, 63, 63);
}
.pFinal {
    font-size: 20px;
    text-align: center;
    margin: 5px 0;
}

/*STYLE DO RODA PÉ DA PAGINA*/

.rodape{
    color: white;
    background-color: black;
    width: 100%;
    height: 600px;
    display: flex;
}

.profileRodaPe{
    margin-top: 100px;
    width: 25%;
    height: 60%;
    font-size: 12px;
    margin-left: 30px;
}
.profileRodaPe input{
    background-color: black;
    color: white;
    border: 1px white solid;
    height: 30px;
}
.profileRodaPe a{
    text-decoration: none;
    color: white;
}

.rodape img{
    width: 80%;
}

#cabo{
    background-color: black;
    color: #313131;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
}
